<html>
    <head>
        <%- include('../includes/start.ejs') %>
        <link rel="stylesheet" href="/css/msg_edit.css">
        
        <title>Manage Messages</title>
        <script src="/js/chat_manager.js"></script>
    </head>

    <body>
        <%- include('../includes/header.ejs') %>

        <main>

        </main>

        <%- include('../includes/footer.ejs') %>
    </body>

</html>