<header>
    <nav id="menu">
        <a href="/" class="<%= path === '/' ? 'active' : ''%>">Public</a>
        <a href="/private" class="<%= path === '/private' ? 'active' : ''%>">Private</a>
        <a href="/admin" class="<%= path === '/admin' ? 'active' : ''%>">Admin</a>
        <a href="/user" class="<%= path === '/user' ? 'active' : ''%>">Users</a>
    </nav>
</header>