<html>
    <head>
        <%- include('../includes/start.ejs') %>
        <title>User Not Found</title>
    </head>

    <body>
        <%- include('../includes/header.ejs') %>

        <main>
            <h1>Couldn't find any user with the given username.</h1>
        </main>

        <%- include('../includes/footer.ejs') %>
    </body>

</html>