<html>
    <head>
        <%- include('../includes/start.ejs')%>
        <title>Private Chat</title>
    </head>

    <%- include('../includes/header.ejs') %>

    <main>
        <h1>You are not allowed to join this chat.</h1>
    </main>

    <%- include('../includes/footer.ejs') %>
</html>